#test-name {
    color:#fdaf31;
}

#opening-text {
    color: #A6ABAB;
}

#opening-family-img {
    margin: 0 auto;
}

#coupon-text {
    font-size: 17.5px;
}

/* 테스트 시작하기 */
#start-btn {
    font-size: 25px;
    font-weight: bolder;
    color: white;
}

#logo-img {
    width: 120px;
    height: 40px;
    margin: 0 auto; 
}